#fortuneTwo, #numbersTwo {
  height: 41px;
  width: 275px;
  margin: 0px auto 0px auto;
  padding-top: 10px;
}
#numbersTwo {
  height: 36px;
  width: 275px;
  margin: 0px auto 0px auto;
  padding-top: 15px;
}